<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
	<property name="host" value="smtp.qq.com" />
	<property name="port" value="465" />
	<property name="username" value="1261705061@qq.com" />
	<property name="password" value="kpfsybndanbshjeh" />
	<property name="defaultEncoding" value="UTF-8"/>
		
	<property name="javaMailProperties">
	   <props>
       	      <prop key="mail.smtp.auth">true</prop>
       	      <prop key="mail.smtp.starttls.enable">2000</prop>
       	      <prop key="mail.debug">true</prop>
       	      <prop key="mail.smtp.ssl.enable">true</prop>
       	   </props>
	</property>
</bean>
	
<bean id="mailMail" class="com.xufan.testsendmail.MailMail">
	<property name="mailSender" ref="mailSender" />
	<property name="simpleMailMessage" ref="customeMailMessage" />
</bean>
<bean id="customeMailMessage"
	class="org.springframework.mail.SimpleMailMessage">

	<property name="from" value="1261705061@qq.com" />
	<property name="to" value="279256798@qq.com" />
	<property name="subject" value="Testing Subject" />
	<property name="text">
	   <value>
		<![CDATA[
			Dear %s,
			Mail Content : %s
		]]>
	   </value>
        </property>
</bean>	
</beans>